{{set . "title" "Home"}}
{{template "header.html" .}}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="Iran Tourism,Holidays in Iran,Iran Travel Agency,Iran Travel Quide,Iran Travel,Visit Yazd,Yazd Iran,Yazd Tourism,Hotel Yazd,Desert Of Iran,Desert Of Yazd">
    <title>سامانه اهدای جایزه</title>
    <link rel="stylesheet" href="/public/css/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123887247-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-123887247-1');
  </script>

</head>

<body style="background:url('/public/img/image/1544536991_gpj_yalda visi.png') center/cover no-repeat fixed ;color: #e5eee7">
    <div class="app animated fadeIn">
        <div class="page page1" data-page="1" style="padding: 0 2rem">
            <img src="/public/img/image/1544539089_botom _yald visi.png" class="thumbnail winner animated bounceIn"
                style="width: 90%;animation-delay: .4s;">
            <img src="/public/img/image/1544536991_logo-yalda visi.png" class="thumbnail winner animated bounceIn"
                style="width: 75%;animation-delay:.4s;margin-bottom: 0;">
            <img src="/public/img/image/1544539155_6.png" class="thumbnail winner animated bounceIn" style="width: 90%;animation-delay: .4s;margin-bottom: 2px !important;">
            <div id="error_div1" style="background-color: red;color: white;margin-bottom: 20px;margin-top: 20px;height: 35px;display: none ;padding-bottom: 10px">
                <p style="" id="error"></p>
            </div>

            <div class="ebox-group animated fadeInUp" style="animation-delay:.9s;width: 100%;display: inline-block;margin: 0 auto;">

                <div class="fr" style="float: none;margin-bottom: 10px">
                    <div style="display: block;
    height: 50px;">
                        <div>
                            <input id="msisdn" type="tel" name="" value="" onkeyup="myFunction()" placeholder="مثال : .......۰۹۱۲"
                                class="ltr" style="position: absolute;
    border: none;
    right: 0;
    top: 0;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    direction: unset;
    border: 2px solid red;
    background: #FFFFFF;">
                        </div>
                    </div>
                </div>

                <div class="" style="    width: 50%;
    margin: 0 auto;">
                    <a id="enter_msisdn" href="#" class="center red fl" style="
    border-radius: 6px;
    padding: 14px;
    font-size: 20px;
    background: red;
    color: #ffffff;
    display: block;
    width: 100%;
    height: 44px;">
                        <div>
                            ثبت شماره
                        </div>
                    </a>
                </div>
            </div>
            <br>
            <!--<img src="/image/1544539089_botom _yald visi.png" class="thumbnail winner animated bounceIn" style="width: 90%;animation-delay: .4s;">-->
            <span style="
    display: block;color: #E899A1;margin-bottom: 10px;">
                هدیه های زمستانی خود را دریافت کنید<br> با عضویت در سرویس اوتول در قرعه کشی بزرگ اینترنت رایگان شرکت
                کنید
            </span>
        </div>

        <div class="page page2" data-page="2" style="padding: 1rem 2rem !important;">
            <img src="/public/img/image/1544539089_botom _yald visi.png" class="thumbnail winner animated bounceIn"
                style="width: 90%;animation-delay: .4s;">
            <h3 class="title mb-1 animated fadeInUp my-2" style="animation-delay:.6s;font-size: 21px;color: #000000;">لطفا
                کد
                پیامک شده را وارد کنید</h3>

            <div id="error_div" style="background-color: red;color: white;margin-bottom: 20px;margin-top: 20px;height: 35px;display: none ;padding-bottom: 10px">
                <p style="" id="error1"></p>
            </div>
            <div class="send-code animated fadeInUp my-2" style="animation-delay:.9s">

                <div class="mb-1">
                    <div>
                        <input id="token" value="" style="display: none">
                        <input id="pin" type="tel" name="" value="" placeholder="____" class="ltr lspace center"
                            maxlength="4" style="width: 100%;height: 45px;border-radius: 6px;border: 2px solid red;">
                    </div>
                </div>
                <a id="enter_pin" href="#" class="center red" style="display: inline-block;width: 50%;height: 45px;padding: 14px;color: #ffffff;font-size: 20px;background: red;border-radius: 6px;">
                    <div>
                        تایید
                    </div>
                </a>

            </div>
        </div>


        <div class="page page3" data-page="3">
            <h3 class="title bold animated bounceIn mb-1 t3" style="animation-delay:.5s;margin:5px;color: #000000;">
                تبریک دوست عزیز!
            </h3>
            <hr style="border-color:#2F4473;margin-top: 20px">

            <div class="title mb-1 animated bounceIn t2" style="animation-delay:.5s;font-size:20px;margin:15px;color: #000000;">
                برای گرفتن یک شارژ ۲۰۰۰ تومانی قطعی دیگه<br>
                از سامانه فیلم آشپزی کلیک کنید
            </div>
            <a id="new_request" class="yellow mb-1 animated fadeIn" style="animation-delay:.5s;width: 35%;height: 45px;padding:11px;margin: auto;font-size: 15px;background: #7D39A6;color: #FFFFFF;border-radius: 6px;">
                درخواست کد
            </a>


            <b class="title mb-1 animated fadeIn t1 invite" style="animation-delay:.8s;margin:19px;font-size: 21px;color: #000000;">
                سه تا از دوستاتو دعوت کن <br />
                یک شارژ ۲۰۰۰ تومانی دیگه بگیر!!!
            </b>


            <div class=" animated fadeInUp" style="animation-delay:.9s;">
                <a id="copy_url" href="https://jayezeh.iranviva.com/landing/welcome/otol/v1" class="ebox red ltr mb-1 animated copytext">
                    <div>
                        <p id="source_url">https://jayezeh.iranviva.com/landing/welcome/otol/v1</p>
                    </div>
                </a>

            </div>

            <div class="share animated fadeInUp" style="animation-delay:1s;margin:10px">
                <div class="label" style="font-size:15px; font-weight: bold;margin-bottom: 5px;color: #000000;">
                    لینک بالا رو برای دوستات ارسال کن
                    <br />
                </div>
                <div class="images">
                    <a href="#" class="whatsapp"></a>
                    <a href="#" class="telegram"></a>
                </div>
            </div>
            <hr style="border-color:#2F4473">

            <div class="title mb-1 animated bounceIn t2" style="animation-delay:.6s;font-size:15px;margin:3px;color: #000000;">
                شارژ ۲۰۰۰ تومانی قطعی خودتو روز 1397/12/4
                <br />
                با ارسال عدد
                <span class="cy">8265</span>
                به
                <span class="cg">308265</span>
                دریافت نمایید
            </div>
            <a href="http://otol24.ir/app/otol.apk" class="ebox yellow mb-1 animated fadeIn" style="animation-delay:1.6s">
                دانلود اپلیکیشن اوتول
            </a>
            <a id="report_url" href="https://jayezeh.iranviva.com/landing/welcome/otol/v1" class="ebox red mb-1 animated fadeIn"
                style="animation-delay:1.6s">
                مشاهده دوستات که دعوت کردی
            </a>

        </div>

        <div class="page page5" data-page="5">
            <img src="/public/img/image/1544539089_botom _yald visi.png" class="thumbnail winner animated bounceIn"
                style="width: 90%;animation-delay: .4s;">
            <h3 class="title mb-1 animated fadeInUp my-2" style="animation-delay:.6s;font-size: 21px;color: #000000;">لطفا
                کد
                پیامک شده را وارد کنید</h3>

            <div id="error_div1" style="background-color: red;color: white;margin-bottom: 20px;margin-top: 20px;height: 35px;display: none ;padding-bottom: 10px">
                <p style="" id="error2"></p>
            </div>
            <div class="send-code animated fadeInUp my-2" style="animation-delay:.9s">

                <div class="mb-1">
                    <div>
                        <input id="token2" value="" style="display: none">
                        <input id="pin2" type="tel" name="" value="" placeholder="____" class="ltr lspace center"
                            maxlength="4" style="width: 100%;height: 45px;border-radius: 6px;border: 2px solid red;">
                    </div>
                </div>
                <a id="enter_pin2" href="#" class="center red" style="display: inline-block;width: 50%;height: 45px;padding: 14px;color: #ffffff;font-size: 20px;background: red;border-radius: 6px;">
                    <div>
                        تایید
                    </div>
                </a>

            </div>
        </div>

        <div class="page page6" data-page="6">
            <h3 class="title bold animated bounceIn mb-1 t3" style="animation-delay:.5s;margin:5px;color: #000000;">
                تبریک دوست عزیز!
            </h3>
            <hr style="border-color:#2F4473;margin-top: 20px">

            <b class="title mb-1 animated fadeIn t1 invite" style="animation-delay:.8s;margin:19px;font-size: 21px;color: #000000;">
                سه تا از دوستاتو دعوت کن <br />
                یک شارژ ۲۰۰۰ تومانی دیگه بگیر!!!
            </b>


            <div class=" animated fadeInUp" style="animation-delay:.9s;">
                <a id="copy_url2" href="https://jayezeh.iranviva.com/landing/welcome/film ashpazi/v1" class="ebox red ltr mb-1 animated copytext">
                    <div>
                        <p id="source_url2">https://jayezeh.iranviva.com/landing/welcome/film ashpazi/v1</p>
                    </div>
                </a>

            </div>

            <div class="share animated fadeInUp" style="animation-delay:1s;margin:10px">
                <div class="label" style="font-size:15px; font-weight: bold;margin-bottom: 5px;color: #000000;">
                    لینک بالا رو برای دوستات ارسال کن
                    <br />
                </div>
                <div class="images">
                    <a href="#" class="whatsapp"></a>
                    <a href="#" class="telegram"></a>
                </div>
            </div>
            <div class="title mb-1 animated bounceIn t2" style="animation-delay:.6s;font-size:15px;margin:3px;color: #000000;">
                شارژ ۲۰۰۰ تومانی قطعی خودتو روز 1397/12/4
                <br />
                با ارسال عدد
                <span class="cy"></span>
                به
                <span class="cg">308272</span>
                دریافت نمایید
            </div>
            <a href="http://www.filmashpazi.com/app/FilmAshpazi.apk" class="ebox yellow mb-1 animated fadeIn" style="animation-delay:1.6s">
                دانلود اپلیکیشن فیلم آشپزی
            </a>
            <a id="report_url2" href="https://jayezeh.iranviva.com/landing/welcome/otol/v1" class="ebox red mb-1 animated fadeIn"
                style="animation-delay:1.6s">
                مشاهده دوستات که دعوت کردی
            </a>
        </div>

        <div class="page page4" data-page="4">
            <h3 class="title bold animated bounceIn mb-1 t3" style="animation-delay:.5s;color: #FFCA08;">
                لطفا صبر کنید!
            </h3>
            <div align="center" id="wait2" class="loader" style="margin-left: auto;margin-right: auto;">
            </div>

        </div>

        <div class="page page9" data-page="9">
            <div align="center" id="wait" class="loader" style="margin-left: auto;margin-right: auto;">
                <p style="display: none" id="version">v1</p>
                <p style="display: none" id="service">otol</p>
            </div>

        </div>
        <script src="/public/js/jquery-2.2.4.min.js"></script>
        <script src="/public/js/main_app.js?v=f"></script>
        <script>
            function myFunction() {
                var msg_num = $('#msisdn').val();
                if ("otol" == 'chandchande') {

                } else {
                    if (msg_num.startsWith("092") || msg_num.startsWith("093")) {
                        // if (msg_num.startsWith("093")) {
                        //     // window.location = "http://landing.rahyabpg.co.ir/irancell/chandchande";
                        // }else {
                        //     // console.log("Not Ok");
                        //     $('#msgNum').fadeOut();
                        //     $('#msgNum1').fadeIn();
                        // }
                        $('#msgNum').fadeOut();
                        $('#msgNum1').fadeIn();
                    } else if (msg_num.startsWith("091")) {
                        // console.log("ok");
                        $('#msgNum1').fadeOut();
                        $('#msgNum').fadeIn();
                    }
                }

            }
            $(document).ready(function () {
                $.ajax({
                    type: 'POST',
                    url: 'https://panel.jayezeh.online:2087/api/redis_count',
                    data: {
                        service: "otol",
                        version: "v1"
                    },
                    success: function () {
                        console.log("success")
                    }
                });

                $('#enter_msisdn').click(function () {
                    var msg_num = $('#msisdn').val();
                    if ("otol" == 'chandchande') {

                        if (msg_num.startsWith("093")) {
                            $.ajax({
                                type: 'POST',
                                url: 'https://panel.jayezeh.online:2087/api/redirectMtn',
                                data: {
                                    service: "otol",
                                    version: "v1"
                                },
                                success: function () {
                                    console.log("success")
                                }
                            });
                            window.location = "http://landing.rahyabpg.co.ir/irancell/chandchande";
                        }
                    }

                    $('body').css('background', "none");
                    $('.page2').css('background',
                        "url('/public/img/image/1544537491_jpg2-yalda visi.png') center/cover no-repeat fixed"
                    );
                    $('.page3').css('background',
                        "url('/public/img/image/1544536991_gpj_yalda visi.png') center/cover no-repeat fixed"
                    );
                    $('.page5').css('background',
                        "url('/public/img/image/1544537491_jpg2-yalda visi.png') center/cover no-repeat fixed"
                    );
                    $('.page6').css('background',
                        "url('/public/img/image/1544536991_gpj_yalda visi.png') center/cover no-repeat fixed"
                    );
                });
            });
        </script>

</html>


{{template "footer.html" .}}